@import url("https://cdn.rawgit.com/jpswalsh/academicons/master/css/academicons.min.css");

.distill-site-nav {
  color: rgba(255, 255, 255, 1);
  background-color: #5694d6;
  font-size: 15px;
  font-weight: 300;
}
